@import url(custom-fonts.css);

.vert-center-text {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.app-icon-link {
  max-width: 4em;
  padding-right: 10px;
}

.app-icon-list {
  padding-top: 1.5em;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0 auto;
  width: 25em;
}

.app-icon-list li {
  padding: 10px
}

.donate-container {
  margin: auto;
  display: flex;
  width: 15em;
  flex-wrap: wrap;
  justify-content: center;
}

.donate-btn {
  flex-grow: 1;
}

@media screen and (max-width: 400px) {
  .app-icon-list {
    width: 22em;
  }
}

.underline {
  text-decoration: underline
}

.video {
    margin: auto;
    max-width: 600px;
}

.hyperkey-banner-img {
    width: 64px;
    height: 64px;
}
.banner-text {
    padding-left:1em;
    display:table-cell;
    vertical-align: middle;
}
.banner-outer {
    display:table;
}
.spotlight.style1 .content.banner-content {
    padding: 0.5rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    width: 100%
}

.brand {
    float: left;
    margin: 1em 1em 1em 2em;
}

.brand a {
    font-family: 'Righteous', sans-serif;
    font-size: 1em;
    text-decoration: none;
}


.slogan {
    float: right;
    margin: 1.1em 2em 1em 1em;
}

.slogan h1 {
    font-size: 1.1em;
    margin: 0;
}

@media screen and (max-width: 480px) {
  .slogan {
    display: none;
  }
}

/* Feature list (match Rectangle layout) */
.charm {
  max-width: 80px;
  padding-right: 10px;
}

.spotlight .content .row > * {
  padding: 0;
  text-align: left;
}

.spotlight .content .row .charm {
  width: 48px;
  height: 48px;
  object-fit: contain; /* keep SVG proportions inside square area */
}

.spotlight .content .row .col-9 {
  padding-left: 1rem;
}

.feature-list {
  padding-left: 2rem;
}

.feature-list .row {
  align-items: center;
}

#wrapper > .color11 {
    background-color: #4c545d;
}
